
.list{   
    margin-top: 15px;
    display: flex;
    margin-bottom: -100%
}

.list ul {
    position: absolute;
    /* display: inline-block; */
    /* flex-wrap: wrap; */
    
    border: 2px solid black;
    background: blueviolet;
    border: 2px solid black;
}

.list ul li{
    

    display: flex;
    list-style: none;
    margin: 3px 5px 3px 0;
    color: Black;
}